<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="206LyncNews" connectionString="server=192.168.0.206;uid=microportalaccount;pwd=Password01!;database=NewsDb;Connect Timeout=100;" />
    <add name="Portal" connectionString="server=.;uid=sa;pwd=truth;database=Main;Connect Timeout=100;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="DefaultProjectId" value=""></add>
  </appSettings>
</configuration>